* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  margin: 10px 10px 20px 10px;
  font-size: 108%;
}

a[href] {
  text-decoration: none !important;
}

a[href]:not(.link-box-anchor):not(.embedded-tweet-anchor) {
  color: rgb(29, 161, 242);
  text-decoration: none;
  background-image: linear-gradient(
    transparent 0%,
    transparent 35%,
    rgba(29, 161, 242, 0.3) 35%,
    rgba(29, 161, 242, 0.3) 100%
  );
  background-size: 100% 200%;
  background-position: 0px 0px;
  word-break: break-word;
}

#title {
  text-align: center;
}

ul {
  list-style-type: none;

  /*display: flex;*/
  align-items: center;
  justify-content: stretch;
  /*flex-direction: column;*/
  padding: 0;
}

ul li {
  margin: 0;

  width: 100%;

  padding: 1rem 0;
}

ul li:not(:last-child) {
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.tweetContainer {
  /*display: flex;
  flex-direction: column;*/
  width: 100%;
}

.tweetContainer * {
  margin: 0;
  padding: 0;
}

.tweetContainer a.media-link {
  width: 100%;
}

.tweetContainer .tweet-img {
  margin: 10px 0;

  border-radius: 0.5rem;

  max-width: 100%;
  height: auto;
}

.tweetContainer .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweetContainer .header img {
  max-width: 75px;
  border-radius: 50%;
  margin-right: 10px;
}

.tweetContainer .header > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.tweetContainer .header > div p {
  font-size: 14px;
}

.tweetContainer .header > div span {
  font-style: italic;
  color: rgb(45, 45, 45);
}

img.emoji,
.verified-badge {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.user-handle {
  color: rgba(0, 0, 0, 0.5) !important;
}

.link-box-anchor {
  width: 100%;
}

.link-box {
  width: 100%;
  height: 135px;

  margin: 10px 0;

  border-radius: 0.5rem;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);

  background-color: rgba(0, 0, 0, 0.06);

  /*display: flex;*/
}

.link-box .link-img-container {
  height: 100%;

  border-radius: 0.5rem 0 0 0.5rem;
}

.link-box .link-img-container img {
  border-radius: inherit;

  height: 100%;
  width: auto;
}

.link-box > .link-box-content {
  /*flex: 1;*/

  color: initial;

  position: relative;

  padding: 5px 0;
  padding-left: 0.5rem;

  /*display: flex;
    flex-direction: column;*/
  justify-content: space-between;
}

.link-box-content-heading,
.link-box-content-description,
.link-box-content-domain {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-size: 0.95rem;
}

.link-box-content-description,
.link-box-content-domain {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.85rem;
}

.link-box-content-domain {
  /*display: flex;*/
  align-items: center;
}

.link-box-content-domain .link-svg {
  width: 0.9rem;
  fill: rgba(0, 0, 0, 0.7);

  margin-right: 0.5rem;
}

.embedded-tweet-anchor {
  color: rgba(0, 0, 0, 0.9) !important;
  font-size: 1rem;
}

.embedded-tweet-container {
  width: 100%;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);

  border-radius: 0.5rem;

  margin: 0.5rem 0;
}

.embedded-tweet-container__header {
  padding: 0.5rem;

  /*display: flex;*/
  align-items: center;
  gap: 0.5rem;
}

.embedded-tweet-container__header img {
  display: inline-block;

  width: 2rem;
  height: auto;

  border-radius: 50%;
}

.embedded-tweet-container__header__userhandle,
.embedded-tweet-container__header__timestamp {
  color: rgba(0, 0, 0, 0.7);
}

.embedded-tweet-container__body {
  padding: 0.5rem;
  margin: 0 1rem 0 1rem;
}

.embedded-tweet-container__body__image-container img {
  max-width: 100%;
}

.flex {
  /*flex: 1 1 auto;*/
}
