{{#each this}}
  {{> user-info-partial this }}
  <ul>
    {{#each data}}
    <li>
      {{> tweet-partial this}}
    </li>
    {{#if replies}}
      {{#each replies}}
        <li>
          {{> reply-partial this}}
        </li>
      {{/each}}
    {{/if}}
    
    {{/each}}
  </ul>
  {{/each}}
