<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  </meta>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </meta>
  <title>Twindle thread </title>

  <style type="text/css">
    {{> style}}
  </style>
</head>
{{#with threads}}
  {{> articles-partial this}}
{{/with}}

</html>