<div>
 
 <table>
  <th>Handler Name</th>
  <th>CreatedAt</th>
  <th>Tweet</th>
  {{#tweets}}
  <tr>
 <td> {{name}} </td>
 <td> {{createAt}} </td>
 <td> {{tweet}} </td>
 </tr>
  {{/tweets}} 
  </table>
 
</div>