*{
    box-sizing: border-box;
    margin: o;
    padding: 0;
    background-color: #212121;
}
li,a,button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
    color: #32e0c4;

}
.nav-links{
    list-style:none ;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}