@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");
/* CSS Variables in the root element */

:root {
  --primary-heading-text: #181818;
  --primary-background-color: #fffdf9;
  --secondary-background-color: #faeee7;
  --scrollbar-track-color: #eee;
  --scrollbar-thumb-color: #c8c8c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: var(--primary-background-color);
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
  /* Specifically for firefox browser */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--scrollbar-thumb-color);
}

/* Creates a line to divide the sections */

.line {
  max-width: 85vw;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  border-radius: 10px;
}

/* Navigation Bar */

header {
  display: inline;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  position: fixed;
  background-color: var(--primary-background-color);
  z-index: 2;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}

.sticky {
  padding: 0.7rem 1.5rem;
  box-shadow: 0 2px 4px #ddd;
}

/* 
header nav a {
  font-family: Mulish;
  font-style: normal;
  color: #202020;
  text-decoration: none;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

header nav ul {
  display: block;
  justify-content: flex-end;
  list-style: none;
  margin-right: 2rem;
}

header nav ul li a {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin-left: 1rem;
  transition: 0.3s ease-in-out all;
}

header li {
  display: flex;
  align-items: center;
}

header nav ul li a:hover,
header nav ul li a:focus {
  background-color: rgba(9, 133, 227, 0.2);
} */

.navbar {
  font-size: 18px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links, .logo {
  text-decoration: none;
  color: black;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;

}

.main-nav li a {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin-left: 1rem;
  transition: 0.3s ease-in-out all;
}

.logo {
  display: inline-block;
  margin-left: 20px;
  font-family: Mulish;
  font-style: normal;
  color: #202020;
  text-decoration: none;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 30px;
    align-items: center;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .nav-links:hover {
    color: black;
    background-color: rgba(9, 133, 227, 0.2);
  }
}

/* Main Section / HomePage */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 5rem;
}

main .page_heading {
  text-align: center;
  padding: 2rem 4rem;
  margin-top: 1.5rem;
}

main .page_heading .sub_heading {
  font-size: 2.25rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  margin-top: 2.3rem;
  color: var(--primary-heading-text);
}

main .coming_soon {
  text-align: center;
  padding: 2rem 4rem;
  font-size: 1.5rem;
}

main .coming_soon img.function_image {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

main .coming_soon p.coming_soon {
  margin-top: 0.5rem;
  padding: 3px;
  font-size: 14px;
}

main .email_subs {
  text-align: center;
  padding: 2rem 4rem;
}

main .email_subs  {
  border-radius: 5px;
  width: 80vw;
  height: 35px;
  border: none;
  box-shadow: none;
  padding: 1rem;
  font-size: 15px;
  transition: border 0.1s ease-in, box-shadow 0.1s ease-in;
}

.email_input {
  background-color: #e7e7e7;
  border-radius: 5px;
  width: 50vw;
  height: 35px;
  border: none;
  box-shadow: none;
  padding: 1rem;
  font-size: 15px;
  transition: border 0.1s ease-in, box-shadow 0.1s ease-in;
}

main .email_subs .email_input:focus, main .email_subs .email_input:active, main .email_subs .email_input:hover {
  outline: none;
  border: 2px solid #0b91f7;
  box-shadow: 0 1px 3px #13598f;
}

main .email_subs .sign_up_btn {
  font-size: 15px;
  background: #0984e3;
  width: 99px;
  height: 35px;
  border-radius: 5px;
  border: white;
  color: white;
  box-shadow: 0 0 2px #333;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: background 0.1s ease-in;
}

main .email_subs .sign_up_btn:hover {
  background: #0a74c5;
}

main .email_subs .sign_up_btn:active {
  top: 1.5px;
}

main .what_we_do {
  text-align: center;
  padding: 2rem 0rem;
}

main .what_we_do .heading_two {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

main .what_we_do p {
  font-weight: 200;
  font-size: 15px;
  width: 80vw;
}

/* Features Section */

#features {
  max-width: 100vw;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 75vw;
}

@media only screen and (max-width: 768px) {

  .container {
    flex-direction:column;
  }
}

#text>h1 {
  font-weight: 800;
  color: var(--primary-heading-text);
}

#text>h4 {
  font-weight: 400;
}

/* Who we are / About Section */

#who_we_are {
  /* height: auto; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0.5rem;
}


.text_area h1 {
  font-weight: 600;
  font-size: 30px;
  width: 516px;
  height: auto;
  color: var(--primary-heading-text);
}

.text_area p {
  font-size: 20px;
  width: 543px;
  height: 75px;
  color: rgba(12, 12, 12, 0.9);
}

@media only screen and (max-width: 768px) {
  
.gap{
  margin-top:30px;
}
.text_area {
  width:80vw;
}
.text_area p {
  width: auto;
}

}

#remote_design {
  width:auto;
  /* height: 436px; */
}

/* Testimonials Section */

#testimonials {
  max-width: 100vw;
  max-height: 60vh;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#testimonials h1 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: var(--primary-heading-text);
}

#testimonials button {
  background: none;
  font-weight: 800;
  font-size: 3rem;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

#tD {
  max-width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px 3px #fde5cb;
  box-shadow: 3px 3px 5px 3px #fde5cb;
}

#tCard {
  margin-top: 80px;
  width: 600px;
  height: auto;
  padding-left: 30px;
  padding-right: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#color {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
}

#user {
  text-align: right;
  margin-right: 40px;
}

#tCard #quot1 {
  width: 50px;
  transform: rotate(180deg);
}

#tCard #quot2 {
  width: 50px;
  align-self: flex-end;
}

#tCard #userImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid blue;
}

#userimgD {
  margin-top: -40px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.arrow {
  outline: none;
}

.arrow:hover {
  cursor: pointer;
}

/* Footer Section */

footer {
  color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}

footer nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2rem 0;
}

footer nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

footer nav p {
  position: relative;
  top: 1rem;
}