<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:epub="http://www.idpf.org/2007/ops"
	xml:lang="<%- lang %>"
	lang="<%- lang %>"
>
	<head>
		<title><%= title %></title>
		<meta charset="UTF-8" />
		<!--<link rel="stylesheet" type="text/css" href="Epub.css" />-->
	</head>

	<body>
		<h1 id="tocHeader">Your Twindle Thread from</h1>
		<div class="tocContainer">
			<div class="header">
				<img src="https://pbs.twimg.com/profile_images/1246727484537741312/dhZBBvIK.jpg" alt="@scihan" />
				<div>
					<h3>
						Ömer Selçuk Cihan

						<span class="user-handle"><a href="https://twitter.com/@scihan/">@scihan</a></span>
					</h3>
				</div>
			</div>
		</div>
	</body>
</html>
