name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Thanks for creating your first issue here on twindle :partying_face:'
        pr-message: 'Thanks for creating your first PR. :partying_face: Share this PR link on twitter group and discord and get two reviews from anyone'
